<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
    <title>PersonCatalog</title>
  </head>
  <body>
    <header>
      <nav class="menu">
        <img src="/static/logo.png" alt="Welcome to PersonCatalog">
        <ul>
          <li><a href="/{{user_id}}">Home</a></li>
          <li><a href="/{{user_id}}/new_post_form">New Post</a></li>
          <li><a href="/{{user_id}}/users">Users</a></li>
          <li><a href="/">Log Out</a></li>
        </ul>
      </nav>
    </header>
    <div class="not_nav container">
    {% block content %}
      <div class="focused_container">{% block form %}{% endblock form %}</div>
    {% endblock %}
    </div>
  </body>
</html>