{% extends "composite/base.jinja" %}{% block content %}
    <section class="home_feed">
        {% block feed %}{% endblock feed %}
    </section>
    <section class="something_else_not_sure_yet">something will go here</section>
{% endblock %}