{% if role=="Post" %}
    {% extends "composite/base.jinja" %}
    {% set form_action = "" %}
    {% set place_val="you have to tell them they need to know" %}
{% elif role=="Update Post" %}
    {% extends "composite/base.jinja" %}
    {% set form_action = "/" ~ post.id ~ "/edit_post" %}
    {% set place_val=post.content %}
{% elif role=="Comment" %}
    {% extends "post.jinja" %}
    {% set form_action = "/" ~ post.id %}
    {% set place_val="they care so much they want to hear your thoughts on the matter no really they do" %}
{% elif role=="Update Comment" %}
    {% extends "post.jinja" %}
    {% set form_action = "/" ~ post.id ~ "/" ~ comment.id  ~ "/edit_comment"%}
    {% set place_val=comment.content %}
{% endif %}

{% block form %}
<form action=/{{user_id}}{{form_action}} method="post">
    <input type="text" name="content" id="content" {% if role[:6]=="Update" %}
        value="{{place_val}}"
    {% else %}
        placeholder="{{place_val}}"
    {% endif %} required autofocus/>
    {% if role[-4:]=="Post" %}
        <div class="public">
            <label for="public">Public</label>
            <input type="checkbox" name="public" id="public" {% if role=="Update Post" %}
                {% if post.public %} checked {% endif %}
            {% endif %}>
        </div>
    {% endif %}
    <button type="submit">{{role}}</button>
</form>
{% endblock form %}