* {
  margin: 0;
  padding: 0;
}

/* MAKE NAV BAR STAY AT TOP OF PAGE WHEN SCROLLING */

body {
  font-family: "Helvetica", arial, sans-serif;
  font-size: 16px;
  background: rgb(252, 254, 255);
}
  
input, select, button {
  font-size: 100%;
  width: 100%;
  padding: 10px;
  margin: 10px;
  box-sizing: border-box;
}

.input_box_restrictor {
  margin-right: 20px;
}

.container {
  display: flex;
  justify-content: center;
  gap: 15px;
  max-width: 90%;
  min-width: 200px;
  padding: 0 20px;
  margin: 0 auto;
}

.feed {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  width: 60%;
}

.something_else_not_sure_yet {
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(40% - 15px);
  border: solid;
}

.focused_container {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  min-width: 250px;
  max-width: 900px;
  align-items: left;
  gap: 10px;
}

.post , .comment {
  display: flex;
  justify-content: space-between;
  border: solid;
  border-radius: 15px;
  background-color: #e4fff6;
  padding: 10px;
}

.post {
  background-color: #e4fff6;
}

.comment {
  border-width: 1px;
  border-color: #00ffaa;
  background-color: white;
  max-width: 400px;
  gap: 20px
}

.comment__right , .post__right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: fit-content;
  gap: 5px
}

.alter_buttons {
  display: flex;
  gap: 5px;
}

.alter__edit , .comment_button {
  color: #000764;
  text-decoration: none;
  border-radius: 10px;
  padding: 0 9px 0 5px;
  border: dashed;
  border-color: #ffb700;
  background-color: #ffd56a;
  font-style: italic;
}

.alter__delete {
  color: #ff0000;
  text-decoration: none;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: bolder;
  margin-top: 2px;
}

.comment_button {
  border: solid;
  border-color: #000764;
  background-color: #edefff;
  max-width: fit-content;
}

.post__body {
  display: flex;
  justify-content: space-between;
}

.post--link , .content {
  text-decoration: none;
  color: black;
}

.post--link {
  font-style: italic;
}

.interactions {
  display: flex;
}

.approvals {
  width: 90px;
}

.mine {
  color: #2631c4;
}

.menu {
  display: flex;
  padding: 10px 10px 10px 0;
  background-color: #1d248f;
  color: white;
}

.menu li a {
  text-decoration: none;
  color: white;
}

.menu li {
  padding: 0 30px;
  border-left: solid;
  list-style: none;
  border-color: grey;
  font-family: "Helvetica", arial, sans-serif;
  font-size: 16px;
}

.menu li:first-of-type {
  border: none;
}