* {
  margin: 0;
  padding: 0;
  font-family: "Helvetica", arial, sans-serif;
}

/* nav bar */

.menu {
  position: fixed; /* keep nav bar in same place when scrolling */
  top: 0;
  width: 100%;
  padding: 10px;
  background-color: #1d248f;
}

.menu li {
  padding: 0 30px;
  border-left: solid; /* lines between nav bar items */
  border-color: grey;
}

.menu li:first-of-type {
  border: none;
}

.menu a {
  text-decoration: none;
  color: white;
}

.menu ul {
  display: flex;
}

li {
  list-style: none; /* no bullet points for any list */
}

nav img {
  margin-left: 25px;
  width: 415px;
  height: 40px;
}

/* general buttons, links, etc. */

input, select, button {
  font-size: 100%;
  width: 100%;
  padding: 10px;
  margin: 10px;
  box-sizing: border-box;
  border-radius: 5px;
}

.comment_input_box_restrictor {
  margin-right: 20px; /* stops input box for writing/editing comments from
                      stretching all the way to the end of the post border */
}

.post--link , .profile_link , .content {
  text-decoration: none; /* so links don't look like links */
  color: black;
}

.post--link {
  font-style: italic;
}

.profile_link {
  display: flex;
}

.profile_link img{ /* pfp formatting */
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 20px;
}

.alter__edit , .comment_button , .add_friend , .remove_friend , .delete_profile { /* button shaped buttons */
  border: solid;
  border-radius: 10px;
  margin-left: 5px;
  padding: 0 7px 0 5px;
  color: #000764;
  font-style: italic;
  text-decoration: none;
  height: fit-content;
  width: fit-content;
}

.alter__edit , .add_friend {
  border-color: #ffb700;
  background-color: #ffd56a;
}

.alter__edit {
  border-style: dashed;
}

.alter__delete {
  color: #ff0000;
  text-decoration: none;
  font-weight: bolder;
  margin-top: 2px;
}

.comment_button {
  border-color: #000764;
  background-color: #edefff;
}

.remove_friend , .delete_profile {
  border-color: red;
  background-color: #ffadad;
}

/* containers */

.container {  /* handles main margins for most of website */
  display: flex;
  justify-content: center;
  gap: 15px;
  max-width: 90%;
  min-width: 200px;
  padding: 0 20px;
  margin: 0 auto;
}

.not_nav {
  margin-top: 82px;  /* space for nav bar since it's always at the top */
}

.login {
  width: 500px;
}

.home_feed {
  width: 100%;
}

.feed {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  width: 60%;
}

.gambling {
  position: fixed;  /* for keeping the roulette wheel stationary while scrolling homepage feed */
  right: 5%;
  top: 92px;
  width: calc(36% - 15px);
}

.gambling:after { /* keep roulette wheel's box square */
  content: "";
  display: block;
  padding-bottom: 100%;
}

.ball_square { /* keep roulette ball's container square & centred inside the roulette wheel's square */
  position: absolute;
  margin: 27%;
  width: 46%;
  height: 46%;
  display: flex;
  justify-content: center;
}

/* gambling animation */
/* animations are called in index.jinja */

.wheel {
  position: absolute;
  width: 100%;
}

.ball {
  position: absolute;
  height: 100%;
  margin: 0 auto; /* ball image is a tall rectangle that's all transparent
                  colour apart from a white circle at the top */
}

/* these animations are conditionally activated in index.jinja */
@keyframes rotation { /* spin clockwise animation */
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes back_rotation { /* anti-clockwise */
  from {
    transform: rotate(359deg);
  }
  to {
    transform: rotate(0deg);
  }
}

/* posts */

.post_page {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  min-width: 250px;
  max-width: 900px;
  align-items: left;
  gap: 10px;
}

.post , .comment { /* blob shapes for posts & comments */
  display: flex;
  justify-content: space-between;
  border: solid;
  border-radius: 15px;
  background-color: #e4fff6;
  padding: 10px;
}

.comment {
  border-width: 1px;
  border-color: #00ffaa;
  background-color: white;
  max-width: 400px;
  gap: 20px
}

.post__body {
  display: flex;
  justify-content: space-between;
}

.post__top {
  display: flex;
}

.name {
  margin-right: 15px;
}

.audience {
  color: grey;
}

.post__right , .comment__right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: fit-content;
  gap: 5px
}

.alter_buttons {
  display: flex;
  gap: 5px;
}

.interactions {
  display: flex;
}

.approvals {
  width: 90px;
}

.mine {
  color: #2631c4; /* makes approvals blue when you approve */
}

/* profile page */

.pfp { /* pfp only on profile viewing page */
  width: 140px;
  height: 140px;
  border-radius: 70px;
}

.details {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  width: 200px;
}

.friends_list {
  margin-left: 10px;
}

.pfp_upload {
  width: 200px;
  margin: 0;
  padding: 0;
}

.details .pfp_upload * {
  width: 175px;
}

.details .pfp_upload input {
  display: none; /* hide default upload button */
}

.details .pfp_upload label { /* custom button */
  margin-left: 10px;
  border: solid;
  background-color: #efefef;
  border-radius: 5px;
  padding: 0 3px 2px 3px;
  border-width: 2px;
  border-style: outset;
  border-color: buttonborder;
}

/* users page */

.users {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 20px;
}

.users li {
  display: flex;
}