{# condition to find which page the post feed is going in #}
{% if isprofile %}
    {% extends 'users/profile.jinja' %}
{% else %}
    {% extends 'composite/index.jinja' %}
{% endif %}

{% block feed %}
<section class="feed">
    {% for post in posts %}
    <div class="post">
        <div class="post__left">
            <span class="post__top">
                <a class="profile_link" href="/{{user_id}}/profile/{{post.user_id}}">
                    {% if post.pfp %}
                        {# pfp #}
                        <img src="data:;base64,{{post.pfp}}"/>
                    {% endif %}
                    {# name #}
                    <h4 class="name">{{post.name}}</h4>
                </a>
                {# public/private indicator #}
                {% if post.public %}
                    <p class="audience">public</p>
                {% else %}
                    <p class="audience">friends only</p>
                {% endif %}
            </span>
            {# content #}
            <p><a class="content" href="/{{user_id}}/{{post.id}}">{{post.content}}</a></p>
            <br/>
            <p class="interactions">
                <span class="approvals">
                    {# finds out if user has approved the post #}
                    {% set ns=namespace(mine=false) %}
                    {% for approval in post.approvals %}
                        {% if approval.user_id==user_id %}
                            {% set ns.mine=true %}
                        {% endif %}
                    {% endfor %}
                    {# approval button #}
                    <a class="post--link{% if ns.mine %} mine{% endif %}"
                    href="/{{user_id}}/{{post.id}}/approve/1">
                        {{post.approvals|length}} approval{% if post.approvals|length!=1 %}s{% endif %}
                    </a>
                </span>
                {# comment count #}
                {% if post.comments|length!=0 %}
                    <a class="post--link" href="/{{user_id}}/{{post.id}}">
                    {{post.comments|length}} comment{% if post.comments|length!=1 %}s{% endif %}</a>
                {% endif %}
            </p>
        </div>
        <div class="post__right">
            {# time posted #}
            <p>{{post.when}}</p>
            {% if user_id==post.user_id %}
                {# edit/delete buttons #}
                <div class="alter_buttons">
                    <a class="alter__edit" href="/{{user_id}}/{{post.id}}/edit_post_form">edit</a>
                    <br/>
                    <a class="alter__delete" href="/{{user_id}}/{{post.id}}/delete_post">X</a>
                </div>
            {% endif %}
        </div>
    </div>
    <br/>
    {% endfor %}
</section>
{% endblock feed %}