{% extends "base.jinja" %}{% block content %}{% for post in posts %}
<div class="post">
  <div class="post__content">
    <p>{{post.content}}</p>
  </div>
  {# likes, comments etc #}
  <br/>
</div>
{% endfor %}{% endblock %}
