<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
        <title>PersonCatalog</title>
    </head>
    <body>
        <header>
            <h1>Welcome to PersonCatalog</h1>
        </header>
        <div class="container">
            <form action="/login" method="post">
                <label for="old">I have an account</label>
                <input type="radio" name="new_or_old" id="old" value="old" checked>
                <label for="new">I'm new</label>
                <input type="radio" name="new_or_old" id="new" value="new">
                <label for="name">Name:</label>
                <input type="text" name="name" id="name" required/>
                <label for="password">Password:</label>
                <input type="text" name="password" id="password" required/>
                <button type="submit">Log in / Sign up</button> {# see if you can get this to change text based on selected radio button #}
            </form>
        </div>
    </body>
</html>