{% if role=="Post" %}
    {% extends "base.jinja" %}
    {% set form_action = "" %}
    {% set place_val="you have to tell them they need to know" %}
{% elif role=="Update Post" %}
    {% extends "base.jinja" %}
    {% set form_action = "/" ~ post.id ~ "/edit_post" %}
    {% set place_val=post.content %}
{% elif role=="Comment" %}
    {% extends "show_post.jinja" %}
    {% set form_action = "/" ~ post.id %}
    {% set place_val="they care so much they want to hear your thoughts on the matter no really they do" %}
{% elif role=="Update Comment" %}
    {% extends "show_post.jinja" %}
    {% set form_action = "/" ~ post.id ~ "/" ~ comment.id  ~ "/edit_comment"%}
    {% set place_val=comment.content %}
{% endif %}

{% block form %}
<form action=/{{user_id}}{{form_action}} method="post">
    <input type="text" name="content" id="content"
    {% if role[0]=="U" %}
        value="{{place_val}}"
    {% else %}
        placeholder="{{place_val}}"
    {% endif %}
    required autofocus/>
    <button type="submit">{{role}}</button>
</form>
{% endblock form %}