{% extends 'base.jinja' %}{% block content %}
    <form action="/" method="post">
        <label for="content">You have to tell them they need to know</label>
        <textarea name="content" id="content" rows="3" cols="30"></textarea>
        <button type="submit">Post</button>
    </form>
{% endblock content %}