{% extends 'base.jinja' %}{% block content %}
    <aside class="details">
        <h3>{{profile.name}}</h3>
        <p>password: {{profile.password}}</p>
        <br/>
        <p>Friends:</p>
        <ul class="friends_list">
        {% for friend in profile.friends_list %}
            <li><a class="profile_link" href="/{{user_id}}/profile/{{friend.id}}">{{friend.name}}</a></li>
        {% endfor %}
        </ul>
        {% if profile.id==user_id %}
            <br/>
            <a class="delete_profile" href="/{{user_id}}/profile/delete">Delete profile</a>
        {% endif %}
    </aside>
    <hr/>
    {% block feed %}{% endblock feed %}
{% endblock content %}