{% extends 'base.jinja' %}{% block content %}
<div class="focused_container">
    <h3>{{author}}</h3>
    <p>{{post.content}}</p>
    <hr/>
    {# likes CALL THEM APPROVALS HAHA #}
    {% for comment in comments %}
        <h5>{{comment[1]}}</h5>
        <p>{{comment[0].content}}</p>
        <br/>
    {% endfor %}
    <a href="/{{user_id}}/{{post.id}}/new_comment">comment</a>
</div>
{%endblock%}