{% extends 'base.jinja' %}{% block content %}
    {# user's name #}
    <p>{{post.content}}</p>
    <hr/>
    {# likes CALL THEM APPROVALS HAHA #}
    {% for comment in comments %}
        <p>{{comment.content}}</p>
        <br/>
    {% endfor %}
    <a href="/{{post.id}}/new_comment">comment</a>
{%endblock%}